* {
    color:black;
}

:root {
    --inputbackground: yellow;
    --botoncolor: rgb(126, 123, 123);
    --botonbackgroundcolor: white;
}

/* header */

header {
    background-color: rgb(31, 57, 248);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    width: 99%;
    background: -webkit-linear-gradient(top right, rgb(168, 176, 237), rgb(32, 57, 250));
}

header .imagenLogo {
    width: 95px;
    border-radius: 8px;
    margin: 3px;
    cursor: pointer;
}

/* menuprincipal */

#listamenu > li {
    position: relative;
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

#listamenu li > ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #9FC8D9;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 10;
}

#listamenu li > ul > li {
    width: 120px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
}

#listamenu li:hover ul {
    display: block;
}

#listamenu a {
    color: #333333;
    text-decoration: none;
}

#listamenu li:hover {
    background-color: #6FACC6;
}

#formDetallada {
    display: inline-block;
    margin: 5px;
    padding: 5px 5px;
    text-align: left;
    border-color: black;
    border-style: solid;
    border-width: 3px;
    background-color: rgb(55, 109, 246);
    border-radius: 20px / 10px;
    align-content: center;
    box-shadow: rgb(8, 8, 8) 5px 5px 20px;
    width: 440px;
    margin-left: calc((100% - 450px)/2);
}

#formIngresar h3 {
    text-align: center;
    font: bold;
}

.labelIngresar {
    display: inline-block;
    color: black;
    width: 200px;
    padding-top: 5px;
}

.input_ingresar {
    display: block;
    color: black;
    width: 95%;
}

.input_ingresar:focus {
    background-color: var(--inputbackground);
    border-width: 2px;
    font: black;
}